#main-nav > a, nav > a, div > a {
    color: #eee;
}
#main-nav > a:link, nav > a:link, div > a:link {
    color: #eee;
}
#main-nav > a:visited, nav > a:visited, div > a:visited {
    color: #eee;
}
#main-nav > a:hover, nav > a:hover, div > a:hover {
    color: #fff;
    text-shadow: 0px 0px #fff;
    /*font-weight: bold;*/
}

#main-nav > a:active, nav > a:active, div > a:active {
    color: #fff;
    text-shadow: 0px 0px #fff;
    /*font-weight: bold;*/
}
#brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #eee;
}
