#yuka-container {
    background-color: #efefef;
}
#header-component {
    background: #444;
    color: #eee;
    margin: 0;
    padding-left: 1rem;
    padding-top: .8rem;
    padding-bottom: .1rem;
}
section {
    
}
#main-component {
    background-color: #fafafa;
    text-shadow: 0px 0px 1px #666;
    color: #555;
    
}
#about > div {
    padding-left: 2rem;
}
#registration {
    height: 610px;
    margin: 0 auto;
    width: 50%;
}
#user-registration-container {
    text-align: center;    
}
.registration-header {
    text-align: center;
}
.registration-header > h5 {
    padding-top: 2rem;
    margin-bottom: 2rem;
    
}
.footer-container {
    padding-bottom: 58px;    
}
.font-fira {
    font-family: 'Fira Sans', sans-serif;
    font-weight: normal;
    font-size: 1.1em;
}

.font-oxygen {
    font-family: 'Oxygen', sans-serif;
    font-weight: normal;
    font-size: 1.1em;
}

.font-fira-mono {
    font-family: 'Fira Mono', monospace;
    font-weight: normal;
    font-size: 1.1em;
}

.hind {
    font-family: 'Hind', sans-serif;
    font-weight: normal;
    font-size: 1.1em;
}
.logotxt {
    font-family: 'Fira Sans', sans-serif;
    /* font-family: 'Oxygen', sans-serif; */
    /* font-family: 'Hind', sans-serif; */
    /* font-family: 'Fira Mono', monospace; */
    font-weight: 900;
    font-size: 2em;
    color: #fafafa;
    text-shadow: 0px 0px 2px #071530;
}
#main-component {
    padding-bottom: 162px;
}
