#yuka-container {
    background-color: #efefef;
}

#header-component {
    background: #444;
    color: #eee;
    margin: 0;
    padding-left: 1rem;
    padding-top: .8rem;
    padding-bottom: .1rem;
}

#main-component {
    background-color: #efefef;
    text-shadow: 0px 0px 1px #666;
    color: #555;
}

#main-paper {
    margin: 0 auto;
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    min-height: 640px;
    max-width: 960px;
}

#about>div {
    padding-left: 2rem;
}

#registration {
    margin: 0 auto;
    height: 610px;
    width: 50%;
}

#user-registration-container {
    text-align: center;
}

.container {
    
}

.registration-header {
    text-align: center;
}

.registration-header>h5 {
    padding-top: 2rem;
    margin-bottom: 2rem;

}

.footer-container {
    padding-bottom: 58px;
}

.font-fira {
    font-family: 'Fira Sans', sans-serif;
    font-weight: normal;
    font-size: 1.1em;
}

.font-oxygen {
    font-family: 'Oxygen', sans-serif;
    font-weight: normal;
    font-size: 1.1em;
}

.font-fira-mono {
    font-family: 'Fira Mono', monospace;
    font-weight: normal;
    font-size: 1.1em;
}

.hind {
    font-family: 'Hind', sans-serif;
    font-weight: normal;
    font-size: 1.1em;
}

.logotxt {
    font-family: 'Fira Sans', sans-serif;
    /* font-family: 'Oxygen', sans-serif; */
    /* font-family: 'Hind', sans-serif; */
    /* font-family: 'Fira Mono', monospace; */
    font-weight: 900;
    font-size: 2em;
    color: #fafafa;
    text-shadow: 0px 0px 2px #071530;
}

#profile-card {
    max-width: 540px;
    margin: 0 auto;
}